<% layout('/layouts/boilerplate') -%>

<body>
  <div class="form-add">
    <div class="form-add-in">
      <h4 style="padding: 1rem 0rem 0rem 0rem;"><strong>Edit your Listing</strong></h4><hr>

      <form action="/listings/<%= show._id %>?_method=PUT" method="post" class="needs-validation mb-3" novalidate enctype="multipart/form-data">
        <div class="mb-4">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" name="listing[title]" value="<%= show.title %>" class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-4">
          <label for="desc" class="form-label">Description</label>
          <textarea name="listing[description]" id="desc" class="form-control" required><%= show.description %></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-4">
          <label for="img-file" class="form-label">Upload Image</label>
          <input type="file" id="img-file" name="listing[image]" class="form-control" accept=".jpg, .jpeg, .png">
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please provide a valid Image format (.jpg, .png, .jpeg) or leave blank.
          </div>
        </div>
        <!-- Image live preview feature (coming soon) -->

        <div class="row">
          <div class="mb-4 col-md-6">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="listing[category]" required>
              <option disabled value="">Select a category</option>
              <option value="Beachfront" <%= show.category === 'Beachfront' ? 'selected' : '' %>>Beachfront</option>
              <option value="City" <%= show.category === 'City' ? 'selected' : '' %>>City</option>
              <option value="Mountain" <%= show.category === 'Mountain' ? 'selected' : '' %>>Mountain</option>
              <option value="Historic" <%= show.category === 'Historic' ? 'selected' : '' %>>Historic</option>
              <option value="Luxury" <%= show.category === 'Luxury' ? 'selected' : '' %>>Luxury</option>
              <option value="Nature" <%= show.category === 'Nature' ? 'selected' : '' %>>Nature</option>
              <option value="Tropical" <%= show.category === 'Tropical' ? 'selected' : '' %>>Tropical</option>
              <option value="Ski" <%= show.category === 'Ski' ? 'selected' : '' %>>Ski</option>
              <option value="Safari" <%= show.category === 'Safari' ? 'selected' : '' %>>Safari</option>
            </select>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
              Oops! Please pick a category
            </div>
          </div>

          <div class="mb-4 col-md-6">
            <label for="price" class="form-label">Price</label>
            <input type="number" min="0" id="price" name="listing[price]" value="<%= show.price %>" class="form-control" required />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
              Please provide the price in (INR)
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mb-4 col-md-7">
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" name="listing[location]" value="<%= show.location %>" class="form-control" required />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide a valid Location.</div>
          </div>

          <div class="mb-4 col-md-5">
            <label for="country" class="form-label">Country</label>
            <input type="text" id="country" name="listing[country]" value="<%= show.country %>" class="form-control" required autocomplete="country" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide a valid Country.</div>
          </div>
        </div>

        <div class="submit-form">
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>

          <button class="btn w-md-50 submit-btn" type="submit">Edit List</button>
        </div>

        <br />
      </form>
    </div>
  </div>

</body>